<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <title>REST api</title>
</head>
<body>
  <h1>Application for an overview of calls that need to be handled today</h1>

  <h2>REST api:</h2>
  <ul>
    <li>url: <strong>/call/add</strong>; method: <strong>PUT</strong>

      <div>parameters:
        <ul>
          <li>firstName - Optional. Max length 30 characters. Any character.</li>
          <li>lastName - Mandatory.Max length 30. Any character.</li>
          <li>telephone - Mandatory. Min 9 character, Allowed chars: digits, '-', '(' ,')', '+' and space</li>
        </ul>
      </div>
    </li>
  </ul>

</body>
</html>